%h1 Results
%div
  %dl 
    %dt 
      Dictionary:
    %dd.crop
      #{locals[:data][:dictionary]}
      %br
    %dt 
      Text:      
    %dd.crop
      #{locals[:data][:text]}
    %br
    %dt
      Result:
    %dd.crop
      #{locals[:result][:inclusions]}
  %br
%div
  %dl 
    Execution time:
    %dt 
      Trie build:
    %dd
      #{locals[:benchmark][:build]}
    %dt 
      Text parse:
    %dd
      #{locals[:benchmark][:parse]}
%div.graph
  %img{src: locals[:result][:diagram_path]}
